* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

/* LAYOUT*/
.container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
}

/* intestazione*/
.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

/* image1*/

.img {
    height: 300px;
    justify-content: flex-start;
    border-radius: 10%;

}

/* dimensione scritte*/
.Levi {
    font-size: 100%;
}

.y {
    font-size: 150%;
}

.x {
    color: red;
}

.Levi,
.y,
.x {
    display: flex;
    flex-direction: column;

}