* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

/* LAYOUT*/
.container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    /* permette agli elementi AL SUO INTERNO
    di andare a capo se non ci stanno nella stessa riga */
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5%;
}

/* paragrafo*/
.bottom-nav {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 2%;
}

/* card */
.card {
    display: flex;
    flex-direction: column;


}




/* dimensione scritte*/
.brand {
    /* font-size: 100%; */

}

.y {
    font-size: 150%;
}

.x {
    color: red;
}

img {
    width: 280px;
}

.page-header {
    background-color: rgb(230, 194, 17);
    height: 50px;
    padding: 10px;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list {
    display: flex;
    gap: 10px;
    color: white;

}

.logo {
    width: 130px;
}

.hello {
    color: white;
}